* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.outer {
    background: linear-gradient(45deg,#d350db,teal,#d350db);
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.inner h3 {
    font-size: 4em;
    line-height: .8em;
    font-family: 'Slabo 27px', serif;
}

.inner h6 {
    font-family: 'Slabo 27px', serif;
    font-size: 2em;
    line-height: .8em;
}

.fade {
    -webkit-animation: fade 2s linear forwards;
    animation: fade 2s linear forwards;
}

@-webkit-keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
}

.result {
    line-height: 1.5em;
    font-size: 18px;
}

.search {
    height: 50px;
    width: 300px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.search input {
    min-width: 0;
    box-sizing: border-box;
    font-size: 16px;
    padding: 16.5px 0;
    border: 0;
    background: none;
    width: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 100%;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0s, 0.4s, 0s;
    transition-delay: 0s, 0.4s, 0s;
    box-shadow: 0 0 0 1px currentColor;
    color: inherit;
    cursor: pointer;
    padding-right: 50px;
    font-weight: lighter;
    text-align: center;
}
.search input:focus, .search input:valid {
    width: 100%;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    outline: 0;
    border-radius: 0;
    cursor: text;
    padding-left: 16.5px;
}
.search input:focus + .delete, .search input:valid + .delete {
    pointer-events: all;
    left: calc(100% - 25px);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.search input:focus + .delete:focus, .search input:valid + .delete:focus {
    box-shadow: 0 0 0 1px currentColor;
    height: 37.5px;
    width: 37.5px;
}
.search input:focus + .delete:before, .search input:valid + .delete:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.search input:focus + .delete:after, .search input:valid + .delete:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
    transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.search .delete {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    padding: 0;
    background: none;
    border-radius: 100%;
    border: 0;
    pointer-events: none;
    -webkit-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    color: inherit;
    cursor: pointer;
}
.search .delete:focus {
    outline: none;
}
.search .delete:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    width: 1px;
    height: 37.5px;
    -webkit-transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
    transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.search .delete:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    width: 1px;
    height: 37.5px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
    transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

::-webkit-input-placeholder {
    color: #c8c8c8;
    font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {
    color: #C8C8C8;
    font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {
    color: #C8C8C8;
    font-family: 'Roboto', sans-serif;
}

:-moz-placeholder {
    color: #C8C8C8;
    font-family: 'Roboto', sans-serif;
}